body {
    background-color: #222228;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 40px;
    display: flex;
    height: 100vh;
    width: 100vh;
    flex-direction: column;
    align-items: center;
}

.btn {
    padding: 20px;
    font-size: 16px;
    background-color: #eb5424;
    color: white;
    border: 1px solid #eb5424;
    border-radius: 5px;
    transition: background-color transform 250ms;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    width: 400px;
    display: block;
    margin-bottom: 20px;
}

.btn:hover {
    cursor: pointer;
    background-color: #df4514;
    box-shadow: 2px 2px 15px #222228;
    transform: translateY(-1px);
}

a {
    color: #df4514;
    font-size: 18px;
}

a:visited {
    color: #df4514;
}

h2 {
    margin-bottom: 40px;
    font-weight: 300;
}

img {
    height: 600px;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.block {
    display: block;
    margin-bottom: 20px;
}
